@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Zen+Tokyo+Zoo&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right, rgb(12, 98, 209), rgb(77, 153, 253 ));
    color: whitesmoke;
    font-family: 'Dancing Script', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container{
    background: linear-gradient(
        to right bottom,
         rgba(177, 160, 240, 0.4),
         rgba(81, 88, 110, 0.2) );
    padding: 20px 40px;
    border-radius: 5px;
    backdrop-filter: blur(0.5rem);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1) ;
}

.container h1{
    text-align: center;
    margin-bottom: 30px;
}
.container a{
    text-decoration: none;
    color: wheat;
}

.btn{
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: lightblue;
    padding: 15px;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}
.btn:focus{
    outline: 0;
}

.btn:active{
    transform: scale(0.98);
    background: rgb(188, 229, 243);
}
.text{
    margin-top: 30px;
}
.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
  }

.form-control input{
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0 ;
    font-size: 18px;
    color: #fff;
}

.form-control input:focus, .form-control input:valid{
    outline: 0;
    border-bottom-color:lightblue ;

}

.form-control label{
    position: absolute;
    top: 15px;
    left: 0;
}

.form-control label span{
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.67, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span
{
color: lightblue;
transform: translateY(-30px);
}